:host {
    display: block;
    width: max-content;
}

button {
    font-weight: 500;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4pt;
    font-size: 14px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #E8E8E8;
    transition: background-color 0.2, color 0.2s;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #7F52FF;
}