:host {
    display: block
}

select {
    width: 100%;
    padding: 0.5rem;
    background-color: #E8E8E8;
    border-radius: 4pt;
    border: none;
    outline: none;
    box-shadow: none;
}

span {
    color: red;
    font-size: 12px;
}