:host {
    display: block;
    position: relative;
    width: 100%;
    padding: 2rem;
}

main {
    display: flex;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.btn-add {
    position: absolute;
    right: calc(100% - calc(100% - 300px - 3rem));
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: calc(100% - 300px - 1rem);
}

thead {
    background-color: #7F52FF;
    color: white;
}

th {
    padding: 8px 10px;
}

tr:hover {
    background-color: #e7defd;
}

tr {
    border-bottom: 1px solid #ddd;
}

.icon-clickable {
    border-radius: 4pt;
    color: gray;
    transition: color 0.2s;
}

.icon-clickable:hover {
    cursor: pointer;
    color: black;
}