:host {
    display: block;
    width: 100%;
    padding: 2rem;
}

main {
    display: flex;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: calc(100% - 300px - 1rem);
}

thead {
    background-color: rgb(228 240 245);
}

th {
    padding: 8px 10px;
}

tr:hover {
    background-color: #D6EEEE;
}

tr {
    border-bottom: 1px solid #ddd;
}